---
const links = [
  { url: '/', name: 'Home' },
  { url: '/about', name: 'About' },
];

---

<nav class="bg-orange-300 py-4 shadow-md">
  <ul class="container mx-auto flex justify-around items-center text-lg font-medium">
    {links.map(link => (
      <li>
        <a href={link.url} class="text-gray-500 hover:bg-orange-400 hover:text-white rounded-md px-3 py-2 transition duration-300">
          {link.name}  
        </a>
      </li>
    ))}
  </ul>
</nav>