---
const links = [
  { url: '/', name: 'Home' },
  { url: '/about', name: 'About' },
];

---

<nav class="bg-blue-600 py-4 shadow-md">
  <ul class="container mx-auto flex justify-around items-center text-lg font-medium">
    {links.map(link => (
      <li>
        <a href={link.url} class="text-white hover:bg-blue-700 hover:text-white rounded-md px-3 py-2 transition duration-300">
          {link.name}
        </a>
      </li>
    ))}
  </ul>
</nav>